{% set quantity_in_cart = cart_quantities.get(product.id, 0) %}
<article class="product-card">
  <img src="{{ product.image_url }}" alt="{{ product.name }}" />
  <div>
    <p class="category-label">{{ product.category.name }}</p>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <span class="stock {{ 'in' if product.stock > 0 else 'out' }}">
      {{ product.stock ~ ' в наличии' if product.stock > 0 else 'Нет в наличии' }}
    </span>
  </div>
  <div class="card-footer">
    <strong>{{ product.price|currency }}</strong>
    <div class="card-actions">
      <a class="button ghost" href="{{ url_for('shop.details', slug=product.slug) }}">Подробнее</a>
      <form class="add-to-cart-form" method="post" action="{{ url_for('cart.add_item', product_id=product.id) }}" data-product-id="{{ product.id }}">
        <button {% if product.stock < 1 %}disabled{% endif %}>
          Добавить в корзину
          <span class="cart-product-quantity" data-product-id="{{ product.id }}" {% if not quantity_in_cart %}hidden{% endif %}>
            {{ quantity_in_cart }}
          </span>
        </button>
      </form>
    </div>
  </div>
</article>
